<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TitikNews</title>
  <link rel="stylesheet" href="style.css">
  <!-- icon -->
  <link rel=" icon" href="img/titik.png" type="image/x-icon">
</head>

<body>
  <%- include('header') %>

    <!-- slide foto -->
    <div class="container-img">
      <div class="row align-items-center">
        <div class="content col-12">
          <!-- Content here -->
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <ol class="carousel-indicators">
              <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"></li>
              <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"></li>
              <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"></li>
              <li data-bs-target="#carouselExampleCaptions" data-bs-slide-to="3"></li>
            </ol>
            <div class="carousel-inner">
              <div class="carousel-item active">
                <a href="newsPage1">
                  <img src="img/1.jpg" class="img-fluid d-block w-100" alt="..." width="50%">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>
                      <%= newsArr[0].title %>
                    </h5>
                    <p>
                      <%= newsArr[0].date[0] %>, <%= newsArr[0].date[1] %>
                          <%= newsArr[0].date[2] %>
                            <%= newsArr[0].date[3] %>
                    </p>
                  </div>
                </a>
              </div>

              <div class="carousel-item">
                <a href="newsPage2">
                  <img src="img/2.jpg" class="img-fluid d-block w-100" alt="..." width="50%">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>
                      <%= newsArr[1].title %>
                    </h5>
                    <p>
                      <%= newsArr[1].date[0] %>, <%= newsArr[1].date[1] %>
                          <%= newsArr[1].date[2] %>
                            <%= newsArr[1].date[3] %>
                    </p>
                  </div>
                </a>
              </div>
              <div class="carousel-item">
                <a href="newsPage3">
                  <img src="img/3.jpg" class="img-fluid d-block w-100" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>
                      <%= newsArr[2].title %>
                    </h5>
                    <p>
                      <%= newsArr[2].date[0] %>, <%= newsArr[2].date[1] %>
                          <%= newsArr[2].date[2] %>
                            <%= newsArr[2].date[3] %>
                    </p>
                  </div>
                </a>
              </div>
              <div class="carousel-item">
                <a href="newsPage4">
                  <img src="img/4.jpeg" class="img-fluid d-block w-100" alt="..." width="50%">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>
                      <%= newsArr[3].title %>
                    </h5>
                    <p>
                      <%= newsArr[3].date[0] %>, <%= newsArr[3].date[1] %>
                          <%= newsArr[3].date[2] %>
                            <%= newsArr[3].date[3] %>
                    </p>
                  </div>
                </a>
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </a>
          </div>
        </div>
        <div class="content col-12">
          <h5><br>Overall visited so far = <%= counter %> times</h5>
        </div>
      </div>
    </div>
    <%- include('footer') %>
</body>

</html>