<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <h1>
            <%= newsArr[0].title %>
        </h1>
        <div class="row">
            <div class="col-9">
                <p class="top-date text-center mt-4">
                    <%= newsArr[0].date[0] %>,
                        <%= newsArr[0].date[1] %>
                            <%= newsArr[0].date[2] %>
                                <%= newsArr[0].date[3] %>
                </p>
                <img src="<%= newsArr[0].image %>" alt="New Technology" class="top-image rounded mx-auto d-block mb-5">
                <p>
                    <%= newsArr[0].pharagraph[0] %>
                </p>
                <p>
                    <%= newsArr[0].pharagraph[1] %>++_
                </p>
                <p>
                    <%= newsArr[0].pharagraph[2] %>
                </p>
            </div>
            <div class="col mt-5">
                <ul class="list-unstyled img-thumbnail  mt-5">
                    <li class="media">
                        <a href="" class=" d-flex flex-row">
                            <img class="mr-3 p-2 ml-2" src="<%= newsArr[0].image[0] %>" alt="" width="30%">
                            <div class="media-body p-1">
                                <h5 class="mt-0 mb-1">List-based media object</h5>
                            </div>
                        </a>

                    </li>
                    <li class="media my-2">
                        <a href="" class=" d-flex flex-row">
                            <img class="mr-3 p-2 ml-2" src="<%= newsArr[0].image[0] %>" alt="" width="30%">
                            <div class="media-body p-1">
                                <h5 class="mt-0 mb-1">List-based media object</h5>
                            </div>
                        </a>
                    </li>
                    <li class="media d-flex flex-row">
                        <a href="" class=" d-flex flex-row">
                            <img class="mr-3 p-2 ml-2" src="<%= newsArr[0].image[0] %>" alt="" width="30%">
                            <div class="media-body p-1">
                                <h5 class="mt-0 mb-1">List-based media object</h5>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>



        <p><b>Author : <%= newsArr[0].name[0] %>, <%= newsArr[0].name[1] %></b></p>
        <p><b>Editor : <%= newsArr[0].name[2] %></b></p>
        <p><b>Photographer : <%= newsArr[0].name[3] %></b></p>
        <a href="/about">Go to about</a>
    </div>
</body>

</html>