<!DOCTYPE html>
<html lang="en">

<%- include('../head') %>

    <body>
        <%- include('../header') %>
            <div class="container-fluid my-4">

                <div class="row">
                    <div class="col-8 mx-5">
                        <h1 class="text-center">
                            <%= newsArr[0].title %>
                        </h1>
                        <p class="top-date text-center mt-4">
                            <%= newsArr[0].date[0] %>,
                                <%= newsArr[0].date[1] %>
                                    <%= newsArr[0].date[2] %>
                                        <%= newsArr[0].date[3] %>
                        </p>
                        <img src="/img/3.jpg" alt="New Technology" class="top-image rounded mx-auto d-block mb-5"
                            width="100%">
                        <p>
                            <%= newsArr[0].pharagraph[1] %>
                        </p>
                        <p>
                            <%= newsArr[0].pharagraph[2] %>
                        </p>
                        <p>
                            <%= newsArr[0].pharagraph[3] %>
                        </p>
                        <p><b>Author : <%= newsArr[2].name[0] %>, <%= newsArr[2].name[1] %></b></p>
                        <p><b>Editor : <%= newsArr[2].name[2] %></b></p>
                        <p><b>Photographer : <%= newsArr[2].name[3] %></b></p>
                    </div>
                    <div class="col my-5 mx-3">
                        <h2>News Update</h2>
                        <ul class="list-unstyled img-thumbnail  mt-4">
                            <li class="media">
                                <a href="newsPage1" class=" d-flex flex-row">
                                    <img class="mr-3 p-2 ml-2" src="/img/1.jpg" alt="" width="30%">
                                    <div class="media-body p-1">
                                        <h4 class="mt-0 mb-1" id="list-news">Title 1</h4>
                                    </div>
                                </a>

                            </li>
                            <li class="media my-2">
                                <a href="newsPage2" class=" d-flex flex-row">
                                    <img class="mr-3 p-2 ml-2" src="/img/2.jpg" alt="" width="30%">
                                    <div class="media-body p-1">
                                        <h4 class="mt-0 mb-1" id="list-news">Title 2</h4>
                                    </div>
                                </a>
                            </li>
                            <li class="media d-flex flex-row">
                                <a href="newsPage4" class=" d-flex flex-row">
                                    <img class="mr-3 p-2 ml-2" src="/img/4.jpeg" alt="" width="30%">
                                    <div class="media-body p-1">
                                        <h4 class="mt-0 mb-1" id="list-news">Title 4</h4>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <%- include('../footer') %>
    </body>

</html>