<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NewsPage4 | TitikNews</title>
    <link rel="stylesheet" href="style.css">
    <!-- icon -->
    <link rel=" icon" href="img/titik.png" type="image/x-icon">
</head>

<body>
    <header>
        <!-- header -->
        <div class="jumbotron">
            <h1>Titik<b>.</b>com</h1>
            <p>Mengabarkan Keindahan Negara Indonesia</p>
        </div>
        <!-- navbar -->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="navbar" style="background-color: #fff;">
            <div class="container">
                <img src="img/titik.png" alt="" width="30">
                <a class="navbar-brand" href="/"><b>titik</b>.com</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">News</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About</a>
                        </li>
                    </ul>
                    <!-- <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid my-4">

        <div class="row">
            <div class="col-8 mx-5">
                <h1 class="text-center">
                    <%= newsArr[0].title %>
                </h1>
                <p class="top-date text-center mt-4">
                    <%= newsArr[0].date[0] %>,
                        <%= newsArr[0].date[1] %>
                            <%= newsArr[0].date[2] %>
                                <%= newsArr[0].date[3] %>
                </p>
                <img src="/img/4.jpeg" alt="New Technology" class="top-image rounded mx-auto d-block mb-5" width="100%">
                <p>
                    <%= newsArr[0].pharagraph[1] %>
                </p>
                <p>
                    <%= newsArr[0].pharagraph[2] %>
                </p>
                <p>
                    <%= newsArr[0].pharagraph[3] %>
                </p>
                <p><b>Author : <%= newsArr[0].name[0] %>, <%= newsArr[0].name[1] %></b></p>
                <p><b>Editor : <%= newsArr[0].name[2] %></b></p>
                <p><b>Photographer : <%= newsArr[0].name[3] %></b></p>
            </div>
            <div class="col my-5 mx-3">
                <h2>News Update</h2>
                <ul class="list-unstyled img-thumbnail  mt-4">
                    <li class="media">
                        <a href="newsPage1" class=" d-flex flex-row">
                            <img class="mr-3 p-2 ml-2" src="/img/1.jpg" alt="" width="30%">
                            <div class="media-body p-1">
                                <h4 class="mt-0 mb-1">Title 1</h4>
                            </div>
                        </a>

                    </li>
                    <li class="media my-2">
                        <a href="newsPage2" class=" d-flex flex-row">
                            <img class="mr-3 p-2 ml-2" src="/img/2.jpg" alt="" width="30%">
                            <div class="media-body p-1">
                                <h4 class="mt-0 mb-1">Title 2</h4>
                            </div>
                        </a>
                    </li>
                    <li class="media d-flex flex-row">
                        <a href="newsPage3" class=" d-flex flex-row">
                            <img class="mr-3 p-2 ml-2" src="/img/3.jpg" alt="" width="30%">
                            <div class="media-body p-1">
                                <h4 class="mt-0 mb-1">Title 3</h4>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <p>News Project version 1.0.0 &#169; 2021, By Kelompok 2 Pagi</p>
    </footer>
    <script src="bootstrap.js"></script>
    <script src="script.js"></script>
</body>

</html>